.my-bal-form {
	padding: 10% 15%;
	text-align: center;

	.my-bal-logo {
		width: 12%;
		border-radius: 100%;
		box-shadow: 5px 5px 5px rgba(30, 32, 78, 0.374);
	}
	.my-history {
		padding: 13% 0 2% 0;
		display: flex;
		flex-direction: column;
		font-size: 1rem;

		color: rgb(52, 27, 127);
		letter-spacing: 0.2rem;

		.hist-title {
			display: flex;
			padding: 0 0 3% 0;
			flex-direction: row;
			font-weight: 700;
			border-bottom: solid 1px rgba(128, 128, 128, 0.622);
			letter-spacing: 0.3rem;
		}
		.hist-price {
			color: blue;
		}
	}
}
