.mypage-form {
	min-height: 46rem;
	//height: 100%;
	*,
	*:before,
	*:after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	font-size: 0.7rem;

	.myform {
		height: 33rem;
		width: 23rem;
		background-color: rgba(255, 255, 255, 0.13);
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		border-radius: 10px;
		// backdrop-filter: blur(12px);
		border: 2px solid rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 40px rgba(8, 7, 16, 0.42);
		padding: 50px 35px;
	}
	.myform * {
		font-family: 'Poppins', sans-serif;
		color: rgba(13, 0, 92, 1);
		letter-spacing: 0.5px;
		outline: none;
		border: none;
	}

	.myform h3 {
		font-size: 20px;
		line-height: 42px;
		text-align: center;
		padding-bottom: 0.5rem;
	}
	.inrow {
		text-align: center;
		img {
			width: 5rem;
			height: 5rem;
		}
	}

	label {
		display: block;
		margin-top: 1rem;
		// font-size: 16px;
		font-weight: 500;
	}

	.info {
		margin-top: 0.5rem;
		width: 100%;
		background-color: rgba(166, 185, 241, 0.112);
		color: rgba(13, 0, 92, 1);
		padding: 10px 10px;
		//font-size: 10px;
		font-weight: 800;
		border-radius: 5px;
	}

	.revise-button {
		margin-top: 1rem;
		width: 100%;
		background-color: rgba(166, 185, 241, 0.3);
		color: #0d005c;
		padding: 10px 0;
		font-size: 15px;
		font-weight: 600;
		border-radius: 5px;
		cursor: pointer;
	}
	button:hover {
		background-color: rgba(0, 0, 128, 1);
		color: #eaf0fb;
		margin-bottom: 0;
	}
}
