.inrow {
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: row-reverse;
	
	
	.button {
		//align-content:flex-end;
		padding-right: 1rem;
	
		color: rgba(0, 0, 128, 1);
		
		margin-bottom: 1rem;
		
		
		font-size: 0.8rem;
		font-weight: 500;
		cursor: pointer;
	}
	.button:hover {
		font-weight: 800;
	}
}
.items-block {
	display: flex;
	border: 0rem solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 1.5rem rgba(8, 7, 16, 0.118);
	font-size: 1rem;
	margin-bottom: 2rem;

	img {
		display: block;
		width: 14rem;
		height: 12rem;
		object-fit: cover;
		margin-right: 2rem;
	}

	.contents {
		color: rgba(0, 0, 0, 0.598);
		margin-top: 0.3rem;
		.writer {
			display: flex;
			flex-direction: row;
			img {
				margin-right: 0.3rem;
				width: 0.6rem;
				height: 0.9rem;
				opacity: 0.2;
				white-space: nowrap;
			}
			.writer-nickname {
				font-size: 0.5rem;
				font-weight: 330;
			}
		}
		img {
			width: 0.7rem;
			height: 0.9rem;
			opacity: 0.3;
			white-space: nowrap;
		}
		h3 {
			font-weight: 500;
		}
		.writer-nickname {
			font-size: 0.8rem;
			font-weight: 330;
		}
		p {
			line-height: 1.5;
			white-space: normal;
			font-size: 0.8rem;
			font-weight: 350;
		}
		.taglist {
			display: flex;
			flex-direction: row;

			.tag {
				margin-right: 0.5rem;
				font-size: 0.3rem;
				font-weight: 400;
				color: rgba(50, 50, 50, 0.618);
				border: 0.07rem solid rgba(0, 0, 0, 0.297);
				box-sizing: border-box;
				padding: 0.2rem 0.4rem 0.2rem 0.4rem;
				border-radius: 0.2rem;
			}
		}
	}
	& + & {
		margin-top: 3rem;
	}
}
