.intro-form {
	padding: 10% 13% 15% 13%;
	height: 100%;
	display: flex;
	flex-direction: column;
	color: rgba(0, 0, 128, 1);
	line-height: 2rem;
	img {
		place-self: center;
		height: 10%;
		width: 10%;
	}

	h3 {
		place-self: center;
	}

	.texts {
	}
}
